page-login {

  .splash-info {
    position: relative;
    z-index: 2;
    //margin-top: -64px;
    margin-top: 50px;
    text-align: center;
  }
  .splash-logo {
    margin: auto;
    background: url('../assets/img/Ridergo-01.png') repeat transparent;
    background-size: 100%;
    width: 160px;
    height: 226px;
  }
  .splash-intro {
    font-size: 18px;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
  } 

  .login-options {
    padding-top: 10px;   
  }

  .content {
    //background-color: color($colors, myapp);
    background-image: url('../assets/img/ride-bg2-1.jpg');
    background-repeat: no-repeat;
    //background-size: 412px 732px;
    background-size: cover;
  }   

  .list, .item, .input{
    background: transparent;
    color: color($colors, primary);
  }      

  ion-item {
      border-radius: 2px;
  }    

  /*.item-block {
      margin-bottom: 20px; 
  } */

  button {
      min-height: 4.4rem;  
  }    

}
