<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addSong()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>      
  </ion-navbar>
</ion-header>

<ion-content padding>
	<!--<ion-list>
		<ion-item class="text" *ngFor="let item of items | async">
			{{item.$value}}
		</ion-item>
  </ion-list>-->
  
  <ion-list>
    <ion-item *ngFor="let song of songs | async" (click)="showOptions(song.$key, song.title)">
      {{song.title}}
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-header>
      Pending Bills
    </ion-card-header>

    <ion-list>
      <ion-item text-wrap *ngFor="let bill of billList | async" (click)="promptPayment(bill.$key)"
        [class.hide]="bill.paid == true">
        <ion-icon name="timer" danger item-left></ion-icon>
        <h2>{{bill.name}}</h2>
        <h3>Total: <strong>${{bill.amount}}</strong></h3>
        <p>Pay before: <strong>{{bill.dueDate | date}}</strong></p>
        <p>created at: {{ bill.creatd_at }}</p>
      </ion-item>
    </ion-list>
  </ion-card>  

  <button ion-button round (click)="newBill()">New Bill</button>  
</ion-content>
